
/* CSS Variables */

:root { 
  --link-text-color-on-hover: rgb(59, 181, 218);
  --link-bg-on-hover: rgb(254, 254, 254);
  /*--header-color: rgb(245, 243, 239);*/
  --header-color: rgb(245, 243, 239);
}

/* Global Styles */

/* Recommend 0.1 to 0.15s ease-in-out for most hover transitions */

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.inventory-page {
  margin: 0 auto;
}

.logo {
  height: 100px;
  width: auto;
}

nav {
  display: flex;
  margin-left: auto;
}

nav .decor {
  margin: 0 10px 0 10px;
  padding: 10px 20px 10px 20px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  color: black;
  text-decoration: none;
  transition: 0.10s ease-in-out;
  background-color: rgb(238, 234, 226);
  border-radius: 3px;
}

nav .decor:hover {
  background-color: var(--link-bg-on-hover);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border: none;
  color: var(--link-text-color-on-hover);
}

nav .selected-nav {
  background-color: var(--link-bg-on-hover);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border: none;
  color: var(--link-text-color-on-hover);
}

.logout {
  margin: 0 10px 0 10px;
  padding: 10px 20px 10px 20px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  color: rgb(180, 137, 51);
  text-decoration: none;
  transition: 0.15s ease-in-out;
  background-color: var(--header-color);
  border: 1px solid rgb(180, 137, 51);
  border-radius: 3px;
}

.logout:hover {
  background-color:rgb(255, 251, 243)
}

header {
  background-color: var(--header-color);
}
.nav-wrap {
  max-width: 1100px;
  height: 100px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-wrap h1 {
  margin: 0 0 0 23px;
  padding: 0;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
}

.nav-wrap h2 {
  margin: 5px 0 0 23px;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.items-list-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  width: 150px;
  margin: 0 10px 30px;
}

.item-card p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 0 4px;
  color: rgb(25, 26, 25);
  transition: 0.15s ease-in-out;
}

.item-card:hover .text-bubble {
  transform: scaleX(1.03) translateY(-2px);
  background-color: var(--link-bg-on-hover);
  border-radius: 0;
}

.item-card:hover .item-list-image {
  filter: brightness(0.9);
  transform: scale(1.02);
}

.item-card:hover p {
  color: var(--link-text-color-on-hover);
}

/* if item is OUT OF STOCK */

.item-card-OUT {
  width: 150px;
  margin: 0 10px 30px;
  border: 5px solid red;
  border-radius: 3px;
  transition: 0.15s ease-in-out;
}

.item-card-OUT p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 0 4px;
  color: rgb(25, 26, 25);
  transition: 0.15s ease-in-out;
}

.item-card-OUT:hover {
  transform: scale(1.02);
}

.item-card-OUT:hover .text-bubble {
  transform: translateY(-2px);
  background-color: var(--link-bg-on-hover);
  border-radius: 0;
}

.item-card-OUT:hover .item-list-image-OUT {
  filter: brightness(0.9);
}

.item-card-OUT:hover p {
  color: var(--link-text-color-on-hover);
}

.text-bubble {
  padding: 10px;
  background-color: #F0F1EF;
  border-radius: 3px;
  margin: 0 auto;
  transform: translateY(-2px);
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.quantity {
  font-size: 2.0rem;
}

.quantity-OUT {
  font-size: 2.0rem;
  color: red;
}

.item-list-image {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.item-list-image-OUT {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  /*cool idea for filtering it to look red, but maybe it doesn't actually look so slick. */
  /*filter: contrast(0.8) sepia(100%) hue-rotate(310deg) brightness(110%) saturate(300%);*/
}

.image-wrapper img {
  width: 400px;
  height: auto;
  border-radius: 3px;
  border: 1px solid rgb(185, 185, 185);
}

/* Item forms for adding or editing */

.form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form-wrapper h2 {
  margin: 5px 0 0 23px;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.item-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0.2rem 0.2rem 0.2rem #c7c8ce;
  background-color: #EFF9F0;
  border-radius: 3px;
  width: 500px;
  margin: 30px auto;
  padding: 30px
}

.item-input {
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2rem;
}

.item-input[type=submit] {
  font-size: 1.2rem;
  padding:15px 15px; 
  background:#2e964f;
  color: white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  transition: 0.1s ease-in-out;
}

.item-input[type=submit]:hover {
  background-color: #125226;
  color: white;
}

.edit-button {
  font-size: 1.2rem;
  padding:15px 10px; 
  background:#2e964f;
  color: white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  transition: 0.1s ease-in-out;
}

.edit-button:hover {
  background-color: #125226;
  color: white;
}

label {
  font-size: 1.2rem;
}

/* individual item view */

.item-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-title-wrapper h2 {
  margin: 5px 10px 10px 5px;
  padding: 0;
  font-size: 2.0rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: capitalize;
}

.item-title-wrapper h4 {
  margin: 10px;
  padding: 0;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.update-button {
  font-size: 1.6rem;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgb(36, 90, 190);
  color: rgb(36, 90, 190);
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  transition: 0.1s ease-in-out;
}

.update-button:hover {
  background-color: rgb(225, 235, 255);
  border: 1px solid (36, 90, 190);
}

.delete-button {
  font-size: 1.6rem;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgb(238, 23, 51);
  color: rgb(238, 23, 51);
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  transition: 0.1s ease-in-out;
}

.delete-button:hover {
  background-color: rgb(255, 223, 227);
  border: 1px solid (36, 90, 190);
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 120px;
  justify-content: space-between;
}

.quantity-modifier {
  display: flex;
  align-items: center;
}

.quantity-modifier button {
  font-size: 2rem;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(49, 206, 109);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  transition: 0.1s ease-in-out;
}

.quantity-modifier button:hover {
  background-color: rgb(37, 146, 79);
}

.select {
  font-size: 1.2rem;
  margin: 9px;
}

.category {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  margin: 5px 5px;
  padding: 5px 20px;
  font-size: 1.3rem;
  letter-spacing: 3px;
  cursor: pointer;
  border: none;
  transition: 0.1s ease-in-out;
}

.category:hover {
  background-color: rgb(20, 27, 20)
}
.category-active {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}

.category-active:hover { 
  color: black;
  background-color: rgb(245, 253, 248);
}

.categories {
  max-width: 900px;
  margin: 15px auto 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


/* Snackbar */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 5px 16px 5px 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar h1 {
  font-weight: normal;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Mobile Styles */

@media (max-width: 1010px) {
  nav {
    display: flex;
    margin: 20px auto 20px auto;
  }

  nav .decor {
    margin: 0 10px 0 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: black;
    text-decoration: none;
    transition: 0.10s ease-in-out;
    background-color: rgb(238, 234, 226);
    border-radius: 3px;
  }

  nav .decor:hover {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  nav .selected-nav {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  .logout {
    margin: 0 10px 0 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: rgb(180, 137, 51);
    text-decoration: none;
    transition: 0.15s ease-in-out;
    background-color: var(--header-color);
    border: 1px solid rgb(180, 137, 51);
    border-radius: 3px;
  }

  .logout:hover {
    background-color:rgb(255, 251, 243)
  }

  header {
    background-color: var(--header-color);
  }
  .nav-wrap {
    max-width: 1100px;
    height: 280px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .nav-wrap h1 {
    text-align: center;
    margin: 10px 0 0 0px;
    padding: 0;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
  }

  .nav-wrap h2 {
    text-align: center;
    margin: 10px 0 0 0px;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
  }
}

@media (max-width: 650px) {
  nav {
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
  }

  nav .decor {
    text-align: center;
    margin: 5px 10px 5px 10px;
    padding: 10px 40px 10px 40px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: black;
    text-decoration: none;
    transition: 0.10s ease-in-out;
    background-color: rgb(238, 234, 226);
    border-radius: 3px;
  }

  nav .decor:hover {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  nav .selected-nav {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  .logout {
    margin: 10px 10px 0 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: rgb(180, 137, 51);
    text-decoration: none;
    transition: 0.15s ease-in-out;
    background-color: var(--header-color);
    border: 1px solid rgb(180, 137, 51);
    border-radius: 3px;
    width: 264px;
  }

  .logout:hover {
    background-color:rgb(255, 251, 243)
  }

  header {
    background-color: var(--header-color);
  }
  .nav-wrap {
    max-width: 650px;
    height: 370px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
  }

  .nav-wrap h1 {
    text-align: center;
    margin: 0px 0 0 0px;
    padding: 0;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
  }

  .nav-wrap h2 {
    text-align: center;
    margin: 0px 0 0 0px;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
  }

  /* Mobile form */

  .form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .form-wrapper h2 {
    margin: 5px 0 0 23px;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
  }
  
  .item-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 0.2rem #c7c8ce;
    background-color: #EFF9F0;
    border-radius: 3px;
    width: 80%;
    margin: 30px auto;
    padding: 30px
  }
  
  .item-input {
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2rem;
  }
  
  .item-input[type=submit] {
    font-size: 1.2rem;
    padding: 15px 15px; 
    background:#2e964f;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    transition: 0.1s ease-in-out;
  }
  
  .item-input[type=submit]:hover {
    background-color: #125226;
    color: white;
  }
  
  .edit-button {
    font-size: 1.2rem;
    padding:15px 10px; 
    background:#2e964f;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    transition: 0.1s ease-in-out;
  }
  
  .edit-button:hover {
    background-color: #125226;
    color: white;
  }
  
  label {
    font-size: 1.2rem;
  }

  
}